# FRONTEND
# Ignore node modules and dependencies
/frontend/node_modules
/frontend/npm-debug.log
/frontend/yarn-error.log
/frontend/pnpm-debug.log
/frontend/lerna-debug.log
/frontend/package-lock.json
/frontend/yarn.lock
/frontend/pnpm-lock.yaml

# Ignore build and cache files
/frontend/.next
/frontend/out
/frontend/dist
/frontend/.cache
/frontend/coverage
/frontend/.DS_Store

# Ignore environment files
/frontend/.env*

# Ignore Docker-related files
/frontend/Dockerfile
/frontend/docker-compose.yml

# Ignore logs and temporary files
/frontend/*.log
/frontend/logs
/frontend/tmp



#  BACKEND
# Ignore node modules and dependencies installed locally
/backend/node_modules
/backend/npm-debug.log
/backend/yarn.lock
/backend/pnpm-lock.yaml
/backend/package-lock.json

# Ignore local environment and configuration files
/backend/.env*

# Ignore logs and temporary files
/backend/logs
/backend/*.log
/backend/log/
/backend/*.pid
/backend/*.seed
/backend/*.seed.ts
/backend/.tmp
/backend/.cache
/backend/dist/
/backend/coverage/
/backend/build/
/backend/typings/

# Ignore Docker-related files
/backend/Dockerfile
/backend/docker-compose.yml

# Ignore editor and OS-specific files
/backend/.vscode/
/backend/.idea/
/backend/.DS_Store
/backend/.git/
/backend/.gitignore
