node_modules
npm-debug.log
yarn.lock
pnpm-lock.yaml
package-lock.json

# Ignore local environment and configuration files
.env*

# Ignore logs and temporary files
logs
*.log
log/
*.pid
*.seed
*.seed.ts
.tmp
.cache
dist/
coverage/
build/
typings/

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore editor and OS-specific files
.vscode/
.idea/
.DS_Store
.git/
.gitignore