@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary-shade: #1d5745;
  --primary-shade: #b5884c;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #00000040;
  border-radius: 4px;
  cursor: pointer;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav-search-input {
  padding: 7px 30px 7px 30px!important;
}

.ant-menu.ant-menu-inline-collapsed {
  width: 70px !important;
}

.ant-menu-submenu-title {
    @apply !px-[25px] !text-black dark:!text-white;
}

.ant-menu-submenu-selected .ant-menu-submenu-title {
  @apply !text-[#ef4444]
}

.ant-menu-item.ant-menu-item-selected{
  color: white !important;
}

.ant-menu.ant-menu-sub.ant-menu-inline{
  @apply !bg-gray-200 dark:!bg-[#475569]
}

.ant-menu-submenu-title:hover {
  background-color: #ef4444 !important;
  color: white !important;
}

.ant-menu-title-content a {
  transition: none !important;
}

.ant-table table {
  @apply !bg-white dark:!bg-[#1e293b] !text-black dark:!text-gray-300;
}

.ant-table table thead tr {
  @apply !bg-gray-200 dark:!bg-[#475569]
}

.ant-table table thead tr th {
  background: transparent !important;
}

.ant-pagination.ant-table-pagination span {
  @apply !text-black dark:!text-white
}

.ant-table-row .ant-table-cell-row-hover{
  color: black !important;
}

.ant-menu-item {
  @apply !px-[25px] !mx-0 !w-full !text-black dark:!text-white;
}

.ant-menu-submenu.ant-menu-submenu-popup {
  left: 70px !important;
}

.ant-menu.ant-menu-sub.ant-menu-vertical {
  @apply !bg-gray-200 dark:!bg-[#475569]
}

.ant-menu-item.ant-menu-item-only-child {
  @apply dark:!text-gray-300 !important
}

:where(.css-dev-only-do-not-override-1htoz2s).ant-upload-wrapper .ant-upload-drag:not(.ant-upload-disabled):hover {
  border-color: transparent;
}

.ql-container {
  height: 250px !important;
}

.ant-modal {
  top: 10px !important;
}

.ant-otp {
  width: 100%;
}

.ant-modal.normal-modal {
  top: 100px !important;
}

.themed-quill .ql-editor.ql-blank::before{
  @apply dark:!text-gray-300
}

.themed-quill .ql-editor {
  @apply dark:!text-gray-300
}

.themed-form label span {
  @apply dark:!text-gray-300
}
